#conter-card{
  justify-content: center;
  width:250px;
  height:275px;
  border-radius: 5%;
  background-color: rgb(42, 33, 55);
  border :10px solid rgb(162, 76, 150);
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}